@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #00ace6;
    text-align: center;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Josefin Slab', serif;
}
h1 {
    padding-top: 50px;
    text-transform: uppercase;
    margin: 30px auto;
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
.box {
    line-height: 50px;
}

.tweet {
    text-decoration: none;
    color: #fff;
    background: #11bdf7;
    font-size: 24px;
    cursor: pointer;
}
.tweet:hover {
    color: #1DA1F2;
    background: #fff;
}
.trigger {
    width: 160px;
    height: 40px;
    background: #11bdf7;
    color: #fff;
    font-size: 18px; 
    cursor: pointer;
}
.btn {
    padding-top: 45px;
}